@tailwind base;
@tailwind components;
@tailwind utilities;

.Narrow {
  width: 100%;
  max-width: 1450px;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .Narrow {
    max-width: 100vw;
  }
}

@media screen and (max-width: 1600px) {
  .Narrow {
    max-width: 85vw;
  }
}

@media screen and (max-width: 765px) {
  .Narrow {
    max-width: 680px;
  }
}

.background {
  background-image: url('../../public/Images/background.jpg'), linear-gradient(rgba(0, 89, 255, 0.088), rgba(0, 89, 255, 0.088));
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
}

@media (max-width: 1024px) {
  .background {
    background-blend-mode: overlay;
  }
}


.widest{
  letter-spacing: 0.2rem;
}
.wide{
  letter-spacing: 0.05rem;
}